# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../../../../../../../../:\Users\Lin Yu\Documents\Tencent Files\1492512761\FileRecv\201692056  张宇航\201692056  张宇航\源代码\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
